<!DOCTYPE html>
<html>
  <head>
    <title>Agregar Libro</title>
  </head>
  <body>
    <h1>Agregar Libro</h1>
    <form action="/libros/crear" method="POST" enctype="multipart/form-data">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required />
      <br />
      <label for="genero">Género:</label>
      <input type="text" id="genero" name="genero" />
      <br />
      <label for="anoPublicacion">Año de Publicación:</label>
      <input type="number" id="anoPublicacion" name="anoPublicacion" />
      <br />
      <label for="autor">Autor:</label>
      <select id="autor" name="autor">
        <!-- Aquí debes cargar dinámicamente la lista de autores disponibles -->
        <!-- Puedes hacerlo con JavaScript o con un motor de plantillas como Handlebars -->
      </select>
      <br />
      <label for="portada">Portada:</label>
      <input
        type="file"
        id="portada"
        name="portada"
        accept="image/*"
        required
      />
      <br />
      <button type="submit">Guardar Libro</button>
    </form>
  </body>
</html>
